
Mascotas/.vs/Mascotas/v16/.suo
Mascotas/Mascotas/bin/Debug/Mascotas.exe
Mascotas/Mascotas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.exe
Mascotas/Mascotas/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Mascotas/Mascotas/obj/Debug/Mascotas.exe
Mascotas/.vs/Mascotas/v16/.suo
Mascotas/Mascotas/obj/Debug/Mascotas.pdb
Mascotas/Mascotas/obj/Debug/Mascotas.vbproj.CoreCompileInputs.cache
Mascotas/Mascotas/obj/Debug/Mascotas.vbproj.GenerateResource.cache
Mascotas/Mascotas/obj/Debug/Mascotas.vbprojAssemblyReference.cache
